<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
</head>
<body hidden>
  <div id="app">
    {{ account }}<br>
    {{ formatNumber(accountBalance) }}<br>
    {{ formatNumber(contractBalance) }}<br>
    {{ isStakeholder }}<br>
    <div v-for="(stake, i) in stakes" :key="i">
      {{ stake.amount }}-{{ formatNumber(stake.claimed) }}-{{ stake.lastClaimDate }}
    </div><br>
    <div v-if="stakes">
      {{ formatNumber(estimatedRewards()) }}
    </div>
    <input v-model="amount" type="number" /><br>
    <button @click="deposit">Deposit</button>
    <button @click="claim">Claim</button>
  </div>
  <script type="module" src="/src/main.js"></script>
</body>
</html>
